* {
    margin: 0;
    padding: 0;

}


body {
    height: 100%;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-image:  url("img/bg-img.jpg");
    background-size: cover;
    text-decoration: none;


}
.wrapper {
    margin: 0 auto 60px;
    width: 1000px;
    height: 100%;
    background-color: wheat;
}





nav{
    width: 100%;
    height: 100px;
    background-color: #fff;
}

ul {
    margin-left: 60px;
}

ul li {
    list-style: none;
    display: inline-block;
    float: left;
    line-height: 100px;
}

nav p {
    display: flex;
    font-weight: bold;
    font-family: arial;
    font-size: 23px;
    justify-content: center;
    color: #222;
}
    

nav  ul li a {
    text-decoration: none;
    display: block;
    font-size: 14px;
    padding: 0 20px;
    color: #1e1e1e;


    
    

}
nav ul li a:hover {
    color: red;
}

