* {
    padding: 0;
    margin: 0;
}
body{
    background-color: #423a;
    border: 10px solid orange;
    border-radius: 10px;
}
.dinner {
    text-align: center;
    text-decoration: underline;

}
.start {
    text-align: center;
    text-decoration: underline;
}
.fish {
    font-weight: bold;
    text-decoration: underline;
}
.pasta {
    text-decoration: underline;
}
.prices {
    color: blanchedalmond;
}
.pizza {
    text-decoration:  underline;
}
.dessert {
    text-decoration:  underline;
}
.description {
    color: #334;

}
.fish-img {
    position: relative;
    float: right;
    height: 30px;
    width: 30px;
}
.fcp {
    position: relative;
    float: right;
    height: 30px;
   
    width: 30px;
}
.seafood {
    position: relative;
    float: right; 
    height: 30px;
    width: 30px;
}
.spegehttiandmeatballs {
    position: relative;
    float: right;
    height: 30px;
    width: 30px;

    
}
.chicken-pasta {
    position: relative;
    float: right;
    height: 30px;
    width: 30px;
}
.veg-pasta {
    position: relative;
    float: right;
    height: 30px;
    width: 30px;
}
.shrimp-p {
    position: relative;
    float: right;
    height: 30px;
    width: 30px;
}
.c-pizza {
    position: relative;
    float: right;
    height: 30px;
    width: 30px;
}
.meat-lover {
    position: relative;
    float: right;
    height: 30px;
    width: 30px;
}

.veg-pizza {
    position: relative;
    float: right;
    height: 30px;
    width: 30px;
}
.fruit-pizza {
    position: relative;
    float: right;
    height: 30px;
    width: 30px;
}